.menu-sidebar {
    width: 100%;
    height: auto;
    display: grid;
    position: relative;

    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-gap: 16px;
}

.menu-sidebar__menu {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;

    flex-direction: column;
}

.menu-sidebar__link {
    width: auto;
    height: auto;
    display: inherit;
    position: relative;

    margin-bottom: 8px;

    font-family: "Roboto", sans-serif;
    font-size: 1.125em;
    text-decoration: none;
    color: #c720ec;

    &:last-of-type{
        margin-bottom: 0;
    }
}
